$primaryColor: #2196f3;

$secondaryColorBlack: #212121;
$secondaryColorWhite: #fff;

$tertiaryColorDark: #2f303a;
$tertiaryColorGrey: #757575;
$tertiaryColorLight: #afb1b8;

$borderRadiusDefault: 4px;

$transitionDurationDefault: 250ms;
$transitionTimingDefault: cubic-bezier(0.4, 0, 0.2, 1);

$breakpointPhoneEnd: 767px;
$breakpointTabletStart: 768px;
$breakpointTabletEnd: 1199px;
$breakpointDesktopStart: 1200px;
